In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
df=pd.read_csv('drug200.csv')

In [3]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [4]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [6]:
df['Sex'].value_counts()

M    104
F     96
Name: Sex, dtype: int64

In [7]:
df['Sex']=df['Sex'].map({'M':1,'F':0})

In [8]:
df['Sex'].value_counts()

1    104
0     96
Name: Sex, dtype: int64

In [9]:
df['BP'].value_counts()

HIGH      77
LOW       64
NORMAL    59
Name: BP, dtype: int64

In [10]:
df.head()

   Age  Sex      BP Cholesterol  Na_to_K   Drug
0   23    0    HIGH        HIGH   25.355  DrugY
1   47    1     LOW        HIGH   13.093  drugC
2   47    1     LOW        HIGH   10.114  drugC
3   28    0  NORMAL        HIGH    7.798  drugX
4   61    0     LOW        HIGH   18.043  DrugY

In [11]:
df['BP']=df['BP'].map({'HIGH':2,'LOW':1,'NORMAL':0})

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    int64
 2   BP           200 non-null    int64
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.5+ KB

In [14]:
df['Cholesterol'].value_counts()

HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64

In [15]:
df['Cholesterol']=df['Cholesterol'].map({'HIGH':1,'NORMAL':0})

In [16]:
df['Drug'].value_counts()

DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: Drug, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()

In [18]:
df['Drug']=encode.fit_transform(df['Drug'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    int64
 2   BP           200 non-null    int64
 3   Cholesterol  200 non-null    int64
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 9.5 KB

In [20]:
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   2            1   25.355     0
1   47    1   1            1   13.093     3
2   47    1   1            1   10.114     3
3   28    0   0            1    7.798     4
4   61    0   1            1   18.043     0

In [21]:
df.corr()

                  Age       Sex        BP  Cholesterol   Na_to_K      Drug
Age          1.000000  0.102027 -0.054212     0.068234 -0.063119  0.041856
Sex          0.102027  1.000000  0.007814     0.008811 -0.125008  0.018239
BP          -0.054212  0.007814  1.000000    -0.137552  0.149312 -0.419397
Cholesterol  0.068234  0.008811 -0.137552     1.000000 -0.010000 -0.048415
Na_to_K     -0.063119 -0.125008  0.149312    -0.010000  1.000000 -0.689051
Drug         0.041856  0.018239 -0.419397    -0.048415 -0.689051  1.000000

In [22]:
scaler=StandardScaler()

In [23]:
X=df.drop(columns=['Drug'])
y=df['Drug']

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [25]:
print('X_train shape ',X_train.shape)

X_train shape  (140, 5)

In [26]:
X_train_scaler=scaler.fit_transform(X_train)
X_test_Scaler=scaler.transform(X_test)

In [ ]:
X_train_scaler

In [28]:
clf=LogisticRegression(multi_class='multinomial')

In [29]:
clf.fit(X_train_scaler,y_train)

LogisticRegression(multi_class='multinomial')

In [35]:

y_pred = clf.predict(X_test_Scaler)

In [36]:
y_pred

array([0, 4, 0, 3, 0, 1, 2, 0, 0, 4, 2, 4, 2, 1, 0, 4, 2, 0, 0, 0, 4, 0,
       0, 4, 4, 0, 0, 0, 0, 0, 4, 1, 3, 1, 1, 0, 0, 4, 2, 0, 1, 0, 0, 4,
       3, 0, 0, 0, 3, 0, 1, 4, 0, 4, 1, 4, 0, 0, 2, 0])

In [32]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy_get=accuracy_score(y_test,y_pred)

In [38]:
print(accuracy_get)

0.9333333333333333

In [39]:
from sklearn.linear_model import LogisticRegressionCV

In [40]:
clv=LogisticRegressionCV(cv=5, scoring='accuracy', random_state=0, n_jobs=-1, verbose=3, max_iter=300).fit(X_train_scaler, y_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    4.3s finished

In [41]:
clv.score(X_test_Scaler,y_test)

0.9833333333333333